* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none !important;
}

.upper-head {
  background: #005294;
  padding: 10px 0;
}
.contact-info {
  display: inline-block;
}
.upper-head p {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: 2rem;
  color: #fff;
}
.pull-right {
  float: right;
}
.login-btn a {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
}
.login-btn a:hover {
  color: #fff;
}
#navigation .navbar-nav .nav-link {
  font-weight: 600;
  padding: 0;
  margin: 0.5rem 1rem;
  color: #333;
  letter-spacing: 1.5px;
}

/********Slide********************/

.carousel-control-prev, .carousel-control-next {
  background: transparent;
  border: 0;
}


/*****************search-box******************/
#search-box {
  position: relative;
  padding: 0;
  background: #fbfbfb;
}
#search-box .search-outer {
  position: relative;
  background: #fff;
  top: -70px;
  box-shadow: 0 0 40px #57575757;
  z-index: 9;
}
#search-box .search-title {
  position: relative;
  background: #005294;
  padding: 1.5rem 1.1rem;
}
#search-box .search-title p {
  font-size: 1rem;
  margin-bottom: 0;
  color: #fff;
}
#search-box .search-title p > span {
  display: block;
  font-weight: 700;
  font-size: 3rem;
}
#search-box .search-table {
  position: relative;
  padding: 1.5rem 0;
} 
#search-box .form-select:nth-child(1), 
#search-box .form-control {
  margin-bottom: 1rem;
}
#search-box .form-select, 
#search-box .form-control {
  border-color: #111;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}
#search-box .btn-search .btn-search{
  background: #005294;
  font-weight: 700;
  font-size: 1rem;
  width: 200px;
  height: 50px;
  line-height: 36px;
  color: #fff;
  border-radius: 0;
}
#search-box .btn-search{
  margin-top: 1.2rem;
}
#search-box .btn-search .btn-search:hover{
  background: transparent;
  border: 1px solid #005294;
  color: #005294;
}

/*********************Why***********************/
#why h2 {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
#why p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #959595;
  text-align: center;
}
#why .icon {
  font-size: 4rem;
  color: #005294;
}
#why .item-feature span {
  font-weight: 500;
  font-size: 1.2rem;
  color: #646464;
  text-transform: capitalize;
}
#why .item-feature p {
  font-size: 1rem;
  padding-top: 0.7rem;
}
#why .item-feature .feature-link {
  color: #005294;
}

/*******************Parallax*************************/
#parallax {
  position: relative;
  background-image: url('images/parallax1.jpg');
  background-position: center top 50%;
  background-attachment: fixed;
}
#parallax::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
#parallax .content {
  z-index: 1;
}
#parallax h2 {
  font-weight: 800;
  font-size: 3rem;
  color: #005294;
}
#parallax p {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}
#parallax h3 {
  font-size: 1.5rem;
  color: #005294;
}
#parallax h3 > strong {
  font-weight: 800;
  font-size: 3rem;
  color: #fff;
}
#parallax h3 > span {
  color: #fff;
}
#parallax .btn-parallax {
  position: relative;
  background: #ee3a3a;
  padding: 0.8rem 4rem;
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-top: 4rem;
  z-index: 1;
}

/************************anounces****************************/
#anounces h2 {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
#anounces p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #959595;
  text-align: center;
  margin-bottom: 4rem;
}
#anounces .anounce-item {
  position: relative;
  margin: 1rem;
}
#anounces .anounce-img {
  position: relative;
  overflow: hidden;
}
#anounces .anounce-content {
  position: absolute;
  padding: 1rem 1.8rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
#anounces .anounce-content .review {
  font-size: 1rem;
  color: #ffc63f;
  text-align: left;
  margin-bottom: 5rem;
}
#anounces .anounce-content h3 a {
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
}
#anounces .anounce-content span {
  font-weight: 700;
  color: #fff;
}
#anounces .anounce-content p {
  font-weight: 300;
  margin-top: 1rem;
  color: #fff;
}
#anounces .anounce-content .btn-anounce {
  padding: 0.3rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  margin-top: -4rem;
  transition: all 0.4s ease-in-out;
}
#anounces .anounce-content .btn-anounce:hover {
  border: 0;
  background: #005294;
  transition: all 0.4s ease-in-out;
}
#anounces .anounce-item .anounce-tag {
  position: absolute;
  padding: 0.8rem;
  top: 0.7rem;
  right: -10px;
  background: #005294;
  box-shadow: 0 0 10px #0000004a;
  z-index: 1;
}
#anounces .anounce-item .anounce-tag::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #005294;
  border-right: 10px solid transparent;
  top: 3.1rem;
  right: 0;
}
#anounces .anounce-item .anounce-tag .price span {
  font-weight: 600;
  color: #fff;
}
#anounces .anounce-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #040404c7 1%, #ffad0000 100%);
}
#anounces .slick-prev {
  left: 1px;
  z-index: 1;
}
#anounces .slick-next {
  right: 10px;
}
.slick-prev:before, .slick-next::before,
.slick-prev:before, .slick-prev::before {
  background: #005294 !important;
  font-family: 'slick';
  font-size: 20px;
  padding: 0.2rem 0.5rem;
  border: 5px solid #fff;
}

/**************************shop*****************************/

#shop {
  position: relative;
  background: url('images/shop-noumiton.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}
#shop::before {
  position: absolute;
  content: '';
  top: 0;
  left: -12%;
  height: 100%;
  width: 65%;
  background: #fff;
  transform: skew(15deg);
  z-index: 1;
}
#shop::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
#shop .content-shop {
  position: relative;
  z-index: 1;
}
#shop .content-shop span {
  font-weight: 600;
  font-size: 2rem;
  color: #555;
  text-transform: capitalize;
}
#shop .content-shop h2 {
  font-weight: 700;
  color: #005294;
  text-transform: capitalize;
}
#shop .content-shop p {
  color: #555;
  z-index: 1;
}
#shop .content-shop .btn-shop {
  background: #ee3a3a;
  font-weight: 700;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 0;
  color: #fff;
}
#shop .content-shop .btn-shop:focus{
  outline: 0;
  box-shadow: none;
}
#shop .ad-price {
  background: #005294;
  width: 200px;
  height: 200px;
  padding: 0.3rem;
  margin: 13% auto 0;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #000;
  text-align: center;
  z-index: 1;
}
#shop .ad-price-inner {
  background: #1b65a1;
  width: 190px;
  height: 190px;
  border: 1px dashed #fff;
  border-radius: 50%;
  padding: 2.5rem 0;
}
#shop .ad-price-inner span {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #fff;
}
#shop .ad-price-inner h4 {
  font-weight: 800;
  font-size: 3rem;
  color: #fff;
}

/***************Blog Home Page***********/
#blog {
  background: #f7f7f7;
}
#blog h2 {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
#blog p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #959595;
  text-align: center;
  margin-bottom: 4rem;
}

#blog .blog-item {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 10%);
}
#blog .blog-img {
  position: relative;
  overflow: hidden;
}
#blog .blog-item .blog-content {
  padding: 1.2rem 1rem 1rem;
  background: #fff;
}
#blog .blog-item .blog-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #000;
}
#blog .blog-item .blog-content p {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 0.4rem;
}
#blog .blog-item .blog-content .blog-meta {
  padding-top: 1rem;
}
#blog .blog-item .blog-content .blog-meta .more a {
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid #aaa;
  color: #000;
}
#blog .blog-item .blog-content .blog-meta .date {
  float: right;
}
#blog .blog-img img{
  transition: all .5s ease-in-out;
}
#blog .blog-img img:hover {
  transform: scale(1.15);
}

/********************shop-noumiton********************/
#shop-noumiton .widget-area {
  border-right: 1px solid #e6e6e6;
}
#shop-noumiton .widget-one {
  margin-bottom: 3rem;
}
#shop-noumiton .widget-one h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#shop-noumiton .widget-one ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#shop-noumiton .widget-one ul li {
  margin-bottom: 1rem;
}
#shop-noumiton .widget-one ul li .icon {
  color: #005294;
}
#shop-noumiton .widget-one ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#shop-noumiton .widget-one ul li span {
  font-weight: 300;
}
#shop-noumiton .widget-one ul li a:hover {
  text-decoration: underline !important;
}

#shop-noumiton .widget-two {
  margin-bottom: 3rem;
}
#shop-noumiton .widget-two h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#shop-noumiton .widget-two ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#shop-noumiton .widget-two ul li {
  margin-bottom: 1rem;
}
#shop-noumiton .widget-two ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#shop-noumiton .widget-two ul li span {
  margin-left: 5px !important;
}
#shop-noumiton .widget-two ul li a:hover {
  text-decoration: underline !important;
}

#shop-noumiton .widget-three {
  margin-bottom: 3rem;
}
#shop-noumiton .widget-three h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#shop-noumiton .widget-three ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#shop-noumiton .widget-three ul li {
  margin-bottom: 1rem;
}
#shop-noumiton .widget-three ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#shop-noumiton .widget-three ul li a:hover {
  text-decoration: underline !important;
}

#shop-noumiton .wrap-shop {
  margin-top: 1rem;
}
#shop-noumiton .filter-shop-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#shop-noumiton .filter-shop-box .form-wrap {
  float: right !important;
}
#shop-noumiton .filter-shop-box p {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}
#shop-noumiton .filter-shop-box .form-select {
  background: rgb(248, 248, 248);
  font-weight: 400;
  font-size: 1rem;
  width: 300px;
  min-height: 60px;
  line-height: 24px;
  font-style: italic;
  border-radius: 0;
  color: rgb(136 , 136, 136);
}
#shop-noumiton .filter-shop-box .form-select option {
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  color: #000;
}
#shop-noumiton .filter-shop-box .form-select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #13130d;
}
#shop-noumiton .single-product-item {
  text-align: center;
}
#shop-noumiton .products-images {
  position: relative;
}
#shop-noumiton .single-product-item .product-thumbnail {
  position: relative;
  display: block;
}
#shop-noumiton .single-product-item .product-thumbnail::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.02);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
#shop-noumiton .single-product-item .product-action {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
#shop-noumiton .single-product-item .product-action a {
  background-color: #fdfafa;
  font-size: 0.8rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(20px);
}
#shop-noumiton .single-product-item:hover .product-action a:nth-child(1) {
  transition-delay: .1s;
}
#shop-noumiton .single-product-item:hover .product-action a:nth-child(2) {
  transition-delay: .3s;
}
#shop-noumiton .single-product-item:hover .product-action a:nth-child(3) {
  transition-delay: .5s;
}
#shop-noumiton .single-product-item:hover .product-action a:hover {
  color: #ee3a3a !important;
  transition: all 0.4s ease-in-out;
}
#shop-noumiton .single-product-item:hover .product-thumbnail::after,
#shop-noumiton .single-product-item:hover .product-action,
#shop-noumiton .single-product-item:hover .product-action a,
#shop-noumiton .single-product-item:hover .product-action a:hover {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}


#shop-noumiton .data-table {
  padding-top: 2rem;
}
#shop-noumiton .data-table ul li {
  display: inline-block;
  margin: 1rem;
}
#shop-noumiton .data-table ul li a {
  padding: 0.5rem 1rem;
  border: 1px solid #b8b8b8;
  color: #1e1e1e;
  transition: all 0.4s ease-in-out;
}
#shop-noumiton .data-table ul li a:hover {
  background: #1b65a1;
  color: #f7f7fc;
}


/*******************Single Products*************************/
#single-product .img-single-product {
  max-width: 100%;
  width: 300px;
  max-height: 100%;
}
#single-product .tabs-description {
  padding-top: 4rem;
}
#single-product .nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  border-bottom: 0;
}
#single-product .nav-tabs li a {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  border-radius: 0px;
  padding: 0.5rem 2rem;
}
#single-product .nav-tabs li a:active,
#single-product .nav-tabs li a:focus {
  text-decoration: underline !important;
}
#single-product .content {
  padding-top: 2.5rem;
}

#single-product .pull-right {
  float: right !important;
}
#single-product .pull-right h1 {
  font-weight: 300;
  font-size: 4rem;
  font-style: italic;
}
#single-product .pull-right .price h4 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #005294;
}
#single-product .pull-right .price h4 > span {
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: line-through !important;
}
#single-product .pull-right p {
  margin-top: 1.5rem;
}
#single-product .pull-right .star {
  font-size: 1.4rem;
  color: #ee3a3a;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#single-product .pull-right .wrap-info {
  margin-top: 1.5rem;
}
#single-product .pull-right .wrap-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-product .pull-right .wrap-info ul li {
  padding-top: 1rem;
}
#single-product .pull-right .cta-shipping {
  padding: 0;
  margin-top: 3rem;
}
#single-product .pull-right .cta-shipping .cta-1 {
  background: transparent;
  width: 250px;
  height: 60px;
  line-height: 45px;
  border: 1px solid #005294;
  border-radius: 0;
  color: #1e1e1e;
  transition:  all 0.4s ease-in-out;
}

#single-product .pull-right .cta-shipping .cta-2 {
  background: #005294;
  width: 250px;
  height: 60px;
  line-height: 45px;
  border-radius: 0;
  color: #f8f8f8;
  transition:  all 0.4s ease-in-out;
}
#single-product .pull-right .cta-shipping .cta-1:hover,
#single-product .pull-right .cta-shipping .cta-2:hover {
  background: transparent;
  border: 1px solid #b8b8b8;
  color: #111;
  transition:  all 0.4s ease-in-out;
}
#single-product .pull-right .cta-shipping .cta-1:focus,
#single-product .pull-right .cta-shipping .cta-2:focus {
  outline: 0;
  box-shadow: none;
}

/**************Pub Entreprise Page Hom Section **************/

#entreprise h2 {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
#entreprise p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #959595;
  text-align: center;
  margin-bottom: 4rem;
}
#entreprise .entreprise-img {
  position: relative;
}
#entreprise .entreprise-content {
  position: absolute;
  padding: 1rem 1.8rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

#entreprise h4 a {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #1e1e1e;
}
#entreprise h4:hover {
  text-decoration: underline;
}

#entreprise .slick-prev {
  left: -30px;
  z-index: 1;
}
#entreprise .slick-next {
  right: 30px;
}
.slick-prev:before, .slick-next::before,
.slick-prev:before, .slick-prev::before {
  background: #005294 !important;
  font-family: 'slick';
  font-size: 20px;
  padding: 0.5rem;
  border: 5px solid #fff;
  border-radius: 50%;
}



/************Detail Entreprise*****************/
#detail-entreprise {
  background-color: #f6f6f6;
}
#detail-entreprise .small-breadcrumb .link h3 {
  font-size: 1.2rem;
  color: #444444;
}
#detail-entreprise .small-breadcrumb .link h3 >span {
  font-size: 1rem;
  color: #005294;
}
#detail-entreprise .img-detail {
  margin-top: 2rem;
}
#detail-entreprise .content-box {
  padding: 1.25rem 1.8rem;
  margin-top: 2rem;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  background: #fff;
  max-width: 750px;
}
#detail-entreprise .content-box h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
#detail-entreprise .content-box .wrap-info {
  padding-top: 3rem;
}
#detail-entreprise .content-box .wrap-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#detail-entreprise .content-box .wrap-info ul li {
  margin-bottom: 1rem;
}
#detail-entreprise .content-box .wrap-info .right {
  float: right;
}
#detail-entreprise .sidebar {
  margin-top: 2rem;
}
#detail-entreprise .sidebar .list-email {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
#detail-entreprise .sidebar .list-email .icon {
  font-size: 2rem;
  background-color: #005294;
  color: #fff;
  float: left;
  padding: 1rem;
  text-align: center;
}
#detail-entreprise .sidebar .list-contact-email h5 {
  font-size: 1rem;
}
#detail-entreprise .sidebar .list-contact-email h5 a {
  color: #232323;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem;
  margin-left: 5rem;
  bottom: 0;
}
#detail-entreprise .sidebar .list-phone {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
#detail-entreprise .sidebar .list-phone .icon {
  font-size: 2rem;
  background-color: #707e9c;
  color: #fff;
  float: left;
  padding: 1rem;
  text-align: center;
}
#detail-entreprise .sidebar .list-contact-phone h5 {
  font-size: 1rem;
}
#detail-entreprise .sidebar .list-contact-phone h5 a {
  color: #232323;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem;
  margin-left: 5rem;
  bottom: 0;
}
#detail-entreprise .sidebar .list-icon {
  display: flex;
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
#detail-entreprise .sidebar .list-icon .icon img {
  padding: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#detail-entreprise .sidebar .list-icon .info {
  padding-top: 2.5rem;
}
#detail-entreprise .sidebar .list-icon .info span {
  font-weight: 300;
}


/**************Page Annonces Disponible *********************/

#banner {
  background: #919191;
  color: #fff;
}
#banner h2 {
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
}
#banner span {
  font-weight: 300;
  font-size: 1rem;
}

/********************List layout**********/

#post {
  background: #f7f9fc;
}
#list .simple-sidebar,
#post .simple-sidebar {
  border-radius: 0;
  border: 1px solid #e6eaf1;
  background: #fff;
  padding: 25px;
  margin-top: 5rem;
  margin-bottom: 30px;
}
#list .input-with-icon,
#post .input-with-icon {
  position: relative;
  width: 100%;
}
#list .sidebar-widgets .form-control,
#post .sidebar-widgets .form-control {
  margin-bottom: 3rem;
  height: 50px;
  box-shadow: none!important;
  background: rgba(174,189,219,.12);
  border: 1px solid transparent;
  color: #707e9c;
  border-radius: 0;
}
#list .sub-category h2,
#post .sub-category h2, 
#list .level h2,
#list .date h2 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
#list .sub-category ul,
#post .sub-category ul, 
#list .level ul,
#list .date ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list .sub-category ul li,
#post .sub-category ul li, 
#list .level ul li,
#list .date ul li {
  margin-bottom: 0.7rem;
}
#list .level ul input, 
#list .date ul input {
  width: 20px;
  height: 20px;
}
#list .level ul li label, 
#list .date ul li label {
  font-size: 1rem;
  margin-left: 2rem;
}
#list .sub-category ul li a,
#post .sub-category ul li a {
  font-weight: 500;
  font-size: 1rem;
  color: #777;
}
#list .sub-category ul a:hover,
#post .sub-category ul a:hover {
  color: #005294;
  transition: 0.3s ease-in-out;
}
#list .call-to-action {
  position: relative;
  background-color: rgba(25,103,210,.07);
  padding: 30px 30px;
  padding-right: 140px;
  border-radius: 10px;
  overflow: hidden;
}
#list .call-to-action p {
  font-size: 1rem;
  line-height: 24px;
  color: #696969;
  margin-bottom: 1.25rem;
}
#list .call-to-action .btn-record {
  position: relative;
  background-color: #ee3a3a !important;
  padding: 0.9rem 2rem 1rem 2rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  
}
#list .call-to-action .image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  right: 0;
  top: 0;
  height: 100%;
  width: 140px;
}
#list .jobs-list {
  padding-top: 5rem;
}
#list .jobs-list .switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#list .jobs-list .text h5 {
  font-size: 1rem;
  line-height: 20px;
  color: #696969;
}
#list .jobs-list .sort-by {
  position: relative;
  display: flex;
  align-items: center;
}
#list .jobs-list .sort-by .job-type {
  margin-right: 1rem;
}
#list .jobs-list .sort-by .form-select {
  width: 150px;
  border-radius: 0;
}
#list .jobs-list .sort-by .form-select:focus {
  outline: 0;
  box-shadow: none;
}
#list .job-block {
  margin-bottom: 1.5rem;
}
#list .inner-box,
#last-anounce .inner-box {
  position: relative;
  padding: 2rem 1.25rem 1.25rem 1rem;
  background: #fff;
  border: 1px solid #ecedf2;
  
}
#list .content, 
#last-anounce .content {
  position: relative;
  padding-left: 7rem;
  min-height: 51px;
}
#list .content img,
#last-anounce .content img {
  position: absolute;
  left: 46px;
  top: 0;
  width: 50px;
}
#list .content h4 a, 
#last-anounce .content h4 a {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  color: #202124;
  margin-bottom: 1rem;
}
#list .content .job-info, 
#last-anounce .content .job-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

#list .content .job-info li, 
#last-anounce .content .job-info li {
  display: inline-block;
  padding-top: 1rem;
  margin-right: 1rem;
  color: #696969;
  
}
#list .content .info-more, 
#last-anounce .content .info-more {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list .content .info-more li, 
#last-anounce .content .info-more li {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  margin-right: 15px;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}
#list .content .info-more .time, 
#list .content .info-more .privacy, 
#list .content .info-more .required, 
#last-anounce .content .info-more .time,
#last-anounce .content .info-more .privacy,
#last-anounce .content .info-more .required {
  background: #005294;
  color: #fff;
}

#list .content .bookmark-btn, 
#last-anounce .content .bookmark-btn {
  position: absolute;
  right: 0;
  top: -15px;
  height: 20px;
  width: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
#list .inner-box:hover, 
#last-anounce .inner-box:hover {
  box-shadow: 0px 7px 18px rgb(64 79 104 / 5%);
  transition: all 0.3s ease;
}
#list .bar p{
  line-height: 19px;
  color: #202124;
  margin-bottom: 10px;
}
#list .bar a {
  color: #202020;
}
#list .bar a:hover {
  text-decoration: underline !important;
}


/****************Single Post*********************/

#list .single-post,
#post .form-post {
  padding: 1.5rem 2rem;
  background: #fff;
  border: 1px solid #e6eaf1;
}
#list .single-post h2 {
  font-weight: 800;
  margin-bottom: 2rem;
  border-bottom: 1px solid #2e2e36;
}
#list .single-post p,
#list .single-post .features{
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: #888888;
}
#list .single-post .indice ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list .single-post .indice ul li {
  display: inline-block;
  padding:7px;
  margin: 1rem;
  font-weight: 800;
  font-size: 0.8rem;
  background: #005294;
  border-radius: 50px;
  color: #fff;
}
#list .single-post .indice ul span {
  font-weight: 400;
  font-style: italic;
}
#list .single-post .indice ul li .btn {
  width: 150px;
  height: 20px;
  line-height: 5px;
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
}

/*******************Post***********************/
#post .form-post .form-control,
#post .form-post .form-select {
  font-size: 1rem;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
}
#post .form-post label,
#post .form-post label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #b0adad;
}
#post .form-post .form-control:focus,
#post .form-post .form-select:focus {
  outline: 0;
  box-shadow: none;
}
#post .btn {
  font-weight: 600;
  font-size: 1.2rem;
  width: 150px;
  height: 50px;
  line-height: 30px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #005294;
  border: 0;
  border-radius: 0;
}
#post .btn:hover {
  background: #111111;
  transition: 0.3s ease-in-out;
}

/*******************Login*********************/
#register .login-section,
#login .login-section {
  background: #fff;
  box-shadow: 2px 5px 15px rgb(0 0 0 / 15%);
  padding: 2rem 4rem 3rem;
  margin-top: 2rem;
}
#register .brand-wrapper,
#login .brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
}
#register .brand-wrapper h1,
#login .brand-wrapper h1{
  font-weight: 800;
  margin-top: 4rem;
  text-transform: uppercase;
}
#register .login-wrapper,
#login .login-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 400px;
  max-width: 100%;
  
}
#register .login-title,
#login .login-title {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.7rem;
}
#register .login-wrapper label,
#login .login-wrapper label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #b0adad;
}
#register .login-wrapper .form-control,
#login .login-wrapper .form-control,
#register .login-wrapper .form-select { 
  font-size: 1rem;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
}
#register .login-wrapper .form-control:focus,
#login .login-wrapper .form-control:focus,
#register .login-wrapper .form-select:focus {
  outline: 0;
  box-shadow: none;
}
#register .login-wrapper .login-btn,
#login .login-wrapper .login-btn {
  padding: 0.8rem 0.9rem;
  background-color: #ee3a3a;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.9rem;
  width: 100%;
}
#register .login-wrapper a.forgot-password-link,
#login .login-wrapper a.forgot-password-link {
  color: #080808;
  font-size: 0.9rem;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 2.3rem;
}
#register .login-wrapper-footer-text,
#login .login-wrapper-footer-text {
  font-size: 1rem;
  color: #000;
  margin-bottom: 0;
}


/***************************Footer**************************/
#footer {
  position: relative;
  background: #060c17;
}
#footer .newletter {
  text-align: center;
  color: #fff;
}
#footer .input-group {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
#footer .input-group .form-control {
  font-size: 1rem; 
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #eceaea;
  border-radius: 0;
  color: #444;
  height: auto;
  box-shadow: none;
}
#footer .input-group .input-group-text {
  background: #ee3a3a;
  font-weight: 700;
  border-radius: 0;
  color: #f7f7f7;
}
#footer .footer-links {
  position: relative;
  padding: 2.8rem 0 2.5rem;
  border-top: 1px dashed #f7f7fc;
}
#footer .footer-links .logo-footer p{
  font-size: 0.8rem;
  color: #fff;
  margin-top: 1rem;
}
#footer .footer-links .localisation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}
#footer .footer-links .localisation ul li {
  font-weight: 300;
  margin: 0.6rem;
}
#footer .footer-links .localisation ul li:hover {
  color: #ee3a3a;
  transition: all 0.4s ease-in-out;
}
#footer .footer-links .socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}
#footer .footer-links .socials ul li {
  display: inline-block;
  margin: 1rem;
}
#footer .footer-links .links-one {
  margin-top: 1rem;
  color: #fff;
}
#footer .footer-links .links-one h3 {
  font-weight: 700;
  margin-bottom: 1.3rem;
}
#footer .footer-links .links-one ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-links .links-one ul li {
  margin-bottom: 1rem;
}
#footer .footer-links .links-one ul li a {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
#footer .footer-links .links-one ul li a:hover {
  padding-left: 5px;
  color: #ee3a3a;
  transition: all 0.4s ease-in-out;
}
#footer .footer-bottom p {
  color: #fff;
}
#footer .footer-bottom ul {
  list-style: none;
  float: right !important;
}
#footer .footer-bottom ul li {
  display: inline-block;
  margin: 10px;

}






